<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alarcon.myactivity">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyActivity"
        tools:targetApi="31">
        <activity
            android:name=".NewMember.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewMember.ActivitySignUp"
            android:label="Activity SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alarcon.myactivity.action.SIGNUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
               <activity
            android:name=".NewMember.CreateAccountActivity"
            android:label="Create Account Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alarcon.myactivity.action.CREATE_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewMember.LogInActivity"
            android:exported="true"
            android:label="LogIn Activity">
            <intent-filter>
                <action android:name="com.alarcon.myactivity.action.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewMember.RegSuccess"
            android:exported="true"
            android:label="Reg Success">
            <intent-filter>
                <action android:name="com.alarcon.myactivity.action.REGISTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>